<li>

  <p class="">
    <%= link_to "#{user.name}",  user_path(user)   %>
  </p>

  <% if user.inverse_friendships.exists?  %>
    <% user.inverse_friendships.each do |i| %>
      <% if i.status == false %>
        <p class="btn btn-success disabled"> Pending </p>
      <% else%>
        <p class="btn btn-info disabled"> Friend </p>
      <% end %>
    <% end %>
  <% else  %>
    <p class="px-2">
      <%= link_to 'Invite to Friend', user_friendships_path(user), class:"btn btn-secondary", method: :post %>
    </p>
  <% end %>



  <% if user.friendships.exists?  %>
    <% user.friendships.each do |i| %>
      <% if i.status == false %>
        <%= link_to 'Accept', user_friendship_path(user, i.id), class:"btn btn-outline-primary", method: :patch %>
        <%= link_to 'Deny', user_friendships_path(user) , class:"btn btn-outline-secondary" %>
      <% else%>
        <p class="btn btn-info disabled"> Friend </p>
      <% end %>
    <% end %>
  <% end %>
</li>
<br>


