<li>
  <p class="">
    <%= link_to "#{user.name}",  profile_path(user) %>
  </p>


  <% if !current_user.friend?(@user) %>
  <% current_user.friendships.each do |i| %>
  <% if i.status == false %>
  <p class="btn btn-success disabled"> Pending </p>
  <% else %>
  <%= link_to 'Invite to Friend', user_friendships_path(user), class:"btn btn-secondary", method: :post %>
  <% end %>
  <% end %>
  <% else %>
  <p class="btn btn-info disabled"> 'Friend' </p>
  <% end %>
</li>
<br>