<li>
  
  <p class= "" >
    <%= link_to "#{user.name}",  user_path(user)   %>
  </p>
 
  <% if user.inverse_friendships.exists? %>
    <% user.inverse_friendships.each do |i| %>
      <% if i.status == false %>
       
        <p class="btn btn-success disabled" > Pending </p>
      <% else %>
        <p class="btn btn-info disabled" > Friend </p>
      <% end %>
    <% end %>
  <% else %>
    <p class="px-2">
      <%= link_to 'Invite to Friend', user_friendships_path(user), class:"btn btn-secondary", method: :post %>
    </p>
  <% end %>

</li>
<br>
