<% if current_user.friendships.find_by(user_id: @user.id)  %>
  <p class="btn btn-success disabled"> Pending </p>
<% elsif !current_user.friend?(@user) %>
  <p class="px-2">
    <%= link_to 'Invite to Friend', user_friendships_path(@user.id), class:"btn btn-secondary", method: :post %>
  </p>
<% end %> 


<article class="timeline">
  <h3 class="text-primary"><%= @user.name.capitalize %> Posts:</h3>
  <ul class="posts">
    <%= render @posts %>
  </ul>
</article>