<% if current_user.friend?(@user) %>
<p class="btn btn-info disabled"> Friend </p>

<% elsif current_user.friendships == @user.inverse_friendships %>

<br>
<p class="btn btn-info disabled"> Pending </p>
<% end %>


<article class="timeline">
  <h3 class="text-primary"><%= @user.name.capitalize %> Posts:</h3>
  <ul class="posts">
    <%= render @posts %>
  </ul>
</article>