<%= profile_btn(@user) %>

<h3 class="text-danger">Mutual Friends:</h3>
<% if current_user.mutual_friend(current_user, @user).none? %>
  <p> You have no mutual friends </p>
<% else %>
  <% current_user.mutual_friend(current_user, @user).each do |friend| %>
    <li><%= friend.capitalize %></li>
  <% end %>
<% end %>
<br>

<article class="timeline">
  <h3 class="text-primary"><%= @user.name.capitalize %> Posts:</h3>
  <ul class="posts">
    <%= render @posts %>
  </ul>
</article>